[submodule "packages/ore-three"]
	path = packages/ore-three
	url = https://github.com/ukonpower/ore-three
[submodule "packages/power-mesh"]
	path = packages/power-mesh
	url = https://github.com/ukonpower/power-mesh.git
