@use "../global/" as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&family=Noto+Sans+JP&family=Jura&family=Noto+Serif&family=Comfortaa&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&family=Roboto&display=swap');

$notosans: 'Noto Sans JP', 'Noto Sans', sans-serif;
$notoserif: 'Noto Serif', serif;
$bebas: 'Bebas Neue', cursive;
$jura: 'Jura', sans-serif;
$roboto: 'Roboto', sans-serif;;
$robotoSerif: 'Roboto Serif', serif;
$comfortaa: 'Comfortaa', cursive;

.content-wrapper {
	width: 100%;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tp-dfwv {
	z-index: 100;
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 1;
	flex-direction: column;
}

.section {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	
	&[data-visible="true"] {
		pointer-events: auto;
	}
	
	&-wrap {
		position: relative;
		flex: 1;
		width: 100%;
		height: 100%;
		
		canvas {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 0;
		}
	}
}

.header {
	position: relative;
	display: flex;
	width: 100%;
	height: 70px;
	align-items: center;
	justify-content: center;
	z-index: 10;

	@include sp {
		height: 50px;
	}

	&-logo {

		opacity: 0;
		transition: opacity 3.0s;
		transition-delay: 0.5s;
		
		&[data-visible="true"] {
			opacity: 1;
		}
		
		svg {
			width: 180px;
			
			@include sp {
				width: 135px;
			}

		}

	}
}

.footer {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #000;
	color: #fff;
	padding: 0 6%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;

	@include sp {
		height: 50px;
		padding: 0 5%;
	}

	&-timeline {
	
		position: relative;

		display: flex;
		justify-content: space-around;

		opacity: 0;
		transition: opacity 2s;
		width: 20%;
		max-width: 200px;

		@include sp {
			position: relative;
			flex: 1;
			left: unset;
			padding-right: 2vw;
		}
		
		&[data-visible="true"] {
			opacity: 1;
		}
		
		&-item {
			width: 20px;
			cursor: pointer;
			position: relative;
		
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: "";
				width: 100%;
				padding-top: 100%;
			}
			
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50% 50%;
				background-color: #fff;
				transform: scale(0.3);
				transition: transform 0.5s ease-out, background-color 0.5s ease-out;
				z-index: 1;
			}

			&[data-state="ready" ] {
				&::after {
					background-color: #555;
				}
			}
			
			&[data-state="viewing" ] {
				pointer-events: none;
				&::after {
					transform: scale(0.6);
				}
			}

			&:hover {
				&::after {
					transform: scale(0.5);
				}
			}
		}

	}

	&-copyright {
		position: relative;
		opacity: 0;
		transition: opacity 2s;
		text-align: right;
		font-family: $roboto;	
		font-size: 8px;
		letter-spacing: 0.2em;
		color: #777;

		&[data-visible="true"] {
			opacity: 1;
		}

		@include sp {
			position: relative;
			font-size: 8px;
			letter-spacing: 0.01em;
			padding-left: 2vw;
			right: 0%;
		}
	}
}

.subtitles {
	position: absolute;
	width: 100%;
	bottom: 60px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	pointer-events: none;

	@include sp {
		bottom: 80px;
	}

	&-text {
		display: inline-block;
		text-align: center;
		user-select: none;


		span {
			background-color: rgba($color: #000000, $alpha: 0.9);
			padding: 5px 10px;
			font-family: $notosans;
			line-height: 2.0em;
			font-size: min( 15px, 2vw );
			box-decoration-break: clone;
			
			&[data-visible="false"] {
				opacity: 0;
				transition: opacity .5s;
			}
			
			@include sp {
				font-size: 2.8vw;
			}
		}
		
	}
}

.section2 {
	
	pointer-events: none;
	
	&[data-visible="true"] {
		pointer-events: auto;		
	}
	
	&-head {
		position: absolute;
		width: 40%;
		transform: translateX(-100%) rotate(0);
		left: -2%;
		top: -15vw;

		transition: transform .5s cubic-bezier(.74,-0.02,.94,-0.32);
		
		[data-visible="true"] &{
			opacity: 1;
			transform: rotate(45deg) translateX(0%);
			transition: transform .7s cubic-bezier(0,1.33,.37,.99);
			transition-delay: 0.7s;

		}

	}

}

.section3 {
	&-message {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		opacity: 0;
		transition: opacity .3s;
		
		[data-visible="true"] &{
			opacity: 1;
		}
		
		&-inner {
			position: relative;
			width: 80%;
		}

		&-text {
			color: #fff;
			font-family: $jura;
			font-size: 1.5vw;
			letter-spacing: 0.4em;
			text-align: center;
			width: 100%;

			&.ja {
				font-size: 1.0vw;
				letter-spacing: 1.3vw;
				color: rgba($color: #fff, $alpha: 0.6);
			}
			
			@include sp {
				font-size: 3.5vw;
			}
		}

		&-deco {
			position: absolute;
			
			&.deco1 {
				right: 0;
				bottom: -3vw;	
			}
			
			&.deco2 {
				left: 0;
				top: -3vw;	
			}
		}
	}
}

.section5 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 0;
	
	opacity: 0;
	transition: opacity 1.0s;
	
	&[data-visible="true"] {
		opacity: 1;
		transition-delay: .5s;
	}
	
	&-content {
		width: 90%;
		max-width: 800px;
		
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;

		&-sp {
			width: 100%;
			max-width: 600px;
			img {
				width: 100%;
			}
		}
	}
	
	&-text {
		position: relative;
		height: 50vh;
		max-height: 100%;
		writing-mode: vertical-rl;
		display: inline-block;
		padding: 0 10px;
		z-index: 0;
		
		@include sp {
			padding: 0 3px;		
			font-size: 16px;
			letter-spacing: 0.2em;
			height: 50vh;
		}

		@for $i from 0 through 30 {
			&:nth-child(#{$i}) {
				z-index: #{-$i};
			}
		}
		
		&-inner {
			position: relative;
			display: inline-block;
			padding: 10px 0px;

			span {
				position: relative;
				display: inline-block;
				font-family: $notosans;
				font-size: 17px;
				letter-spacing: 0.35em;
				color: rgba($color: #fff, $alpha: 0.0);

				right: 15px;
				transition: color 2.0s, right 1.0s;
				
				[data-visible5line="true"] &{
					color: rgba($color: #fff, $alpha: 1.0);
					right: 0px;
					
					@for $i from 0 through 30 {
						&:nth-child(#{$i}) {
							transition-delay: #{0.2 + $i * 0.06}s;
						}
					}
				}
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: rgba($color: #000000, $alpha: 0.4);
				// z-index: 0;

				transform-origin: top;
				transform: scaleY( 0.0 );
				transition: transform 1.5s;

				[data-visible5line="true"] & {
					transform: scaleY( 1.0 );
				}
				
			}
		}

		&-wrap {
		 	
			pointer-events: none;
			user-select: none;
			
			display: flex;
			flex-direction: row-reverse;

		}
		
		
	}
}

.section6 {
	
	position: relative;
	
	width: 100%;
	height: 100%;

	&-main {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		opacity: 0;
		transition: opacity 1s;
		
		[data-visible="true"] & {
			
			opacity: 1;
			transition-delay: 1s;
			
		}
		
		&-head {
			font-family: $robotoSerif;
			font-size: 2.5vw;
			font-weight: normal;
			color: #fff;
			margin-bottom: 50px;

			@include sp{
				font-size: 7.0vw;
				line-height: 1.8em;
			}
		}

		&-link {

			a {
				position: relative;
				display: block;
				text-decoration: none;
				font-family: $robotoSerif;
				font-size: 2.0vw;
				font-weight: 200;
				color: #fff;

				@include sp{
					font-size: 4.7vw;
					line-height: 1.8em;
				}
				
				.arrow {
					position: absolute;
					left: 104%;
					bottom: 20%;
					max-width: 50%;
					transition: transform .4s;
				}

				&:hover {
					.arrow {
						transform: translateX(5px);
					}
				}
			}
		}
	}
	
	&-link {
		position: absolute;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		
		width: 60%;
		max-width: 300px;

		display: flex;
		justify-content: space-around;
		align-items: center;
		
		opacity: 0;
		transition: opacity 1s;
		
		[data-visible="true"] & {
			
			opacity: 1;
			transition-delay: 1s;
			
		}
		
		&-item {
			padding: 0 5px;

			&:nth-child(2) {
				padding: 0px;
			}
			
			a {
				display: block;
				
				&:hover {
					svg {
						transform: translateY(-5px);
					}
				}
			}
			
			svg {
				width: 100%;
				transition: transform .4s;
			}
			

		}


	}
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: opacity .5s;
	
	&[data-visible="false"] {
		opacity: 0;
		pointer-events: none;
	}
	
	&-logo {
		width: 30%;
		max-width: 200px;
		opacity: 1;
		pointer-events: none;
		transition: opacity .5s;
		
		&[data-visible="false"] {
			opacity: 1;
		}

		svg {
			width: 100%;
		}
	}
}

.intro {

	position: absolute;
	width: 100%;
	height: 100%;

	&-inner {
		position: relative;
		width: 100%;
		height: 100%;

	}

	&-text {

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		
		pointer-events: none;
		
		@include pc {
			opacity: 0;
		}

		&-item {
			position: absolute;
			color: #fff;
			font-family: $comfortaa;
			font-size: 20px;
			line-height: 1.5em;
			text-align: center;

			width: 95%;

			opacity: 0;
			transition: opacity 1s;

			&[data-visible="true"] {
				opacity: 1;
			}
		}
	}
	
	&-skip {
		position: absolute;
		right: 55px;
		bottom: 15px;
		color: #fff;

		transform: translateX(250%);
		transition: transform .8s;

		pointer-events: none;
		-webkit-tap-highlight-color: transparent;

		&[data-skipVisible="true"] {
			
			transform: translateX(0);
			cursor: pointer;
			pointer-events: auto;
			
		}

		$this: &;

		@include sp {
			right: 40px;
		}
		
		&:hover {
			#{$this}-inner {
				@keyframes jump {
					0% {
						transform: translateY(0);
						animation-timing-function: ease-out;
					}
					50% {
						transform: translateY( -10px );
						animation-timing-function: ease-in;
					}
					100% {
						transform: translateY(0);
					}
				}
				
				animation: jump 0.2s 0s 1 normal;
			}
		}
		
		&-inner {
			position: relative;
		}
		
		&-txt {
			position: absolute;
			width: 100%;

			opacity: 0;
			transform: rotate( -45deg ) scale(0);

			transition: transform .5s cubic-bezier(.4,1.44,.74,1);
			transition-delay: 1s;

			
			[data-skipVisible="true"] & {
			
				transform: rotate( 0 ) scale(1);
				opacity: 1;
				
			}

			&-item {
				position: absolute;
				left: 40%;
				bottom: 100%;

				opacity: 0;

				&.skip {
					[data-skipTxt="skip"] & {
						opacity: 1;
					}
				}
				
				&.ok {
					[data-skipTxt="ok"] & {
						opacity: 1;
					}
				}
				
			}
		}

		&-baku {

			transition: transform .5s;

			[data-skipVisible="false"] & {
				transform: scaleX(-1);
			}
		}
	}

}