@use "./mixin" as *;

*{
    margin: 0;
	box-sizing: border-box;
}

html,body{
	background-color: #000;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas{
	width: 100%;
	height: 100%;
	pointer-events: none;
}

[data-media="pc"] {
	@include sp {
		display: none !important;
	}
}

[data-media="sp"] {
	@include pc {
		display: none !important;
	}
}